.header {
   background: #202123;
   color: white;
   padding: 8px 10px;
   width: 100%;
}

.flickr {
   font-size: 30px;
   font-weight: bolder;
   padding: 0 120px;
   margin-right: 40%;
   color: white;
   float: left;
}

button {
   border: none;
   outline: none;
}

button:hover {
   background: #E23F92;
   color: white;
}

.tag-input {
   background: rgba(255, 255, 255, 0.7);
   font-size: 13px;
   width: 200px;
   height: 20px;
   border: none;
   border-radius: 3px 0 0 3px;
   padding: 5px;
   outline: none;
}

.tag-input:focus {
   background: white;
}

.submit-btn {
   background: #408ED6;
   color: white;
   border: none;
   font-size: 14px;
   font-weight: 500;
   height: 30px;
   width: 70px;
   border-radius: 0 3px 3px 0;
   outline: none;
}

.submit-btn:hover {
   background: #489AE3;
}

p {
   margin-right: 10px;
   font-size: 13px;
   display: inline-block;
}

form {
   display: inline-block;
} 

.table {
   position: relative;
   margin: 0 11em 3em;
   padding: 20px;
   font-size: 12px;
   background: white;
   border: none;
}

/* align authors */
.rt-td:nth-child(4) {
   text-align: center;
}

/* header background */
.rt-thead {
   font-size: 16px;
   padding-bottom: 15px;
   color: #646464;
}

/* mouse over table headers */
.-cursor-pointer {
   outline: none;
}
.-cursor-pointer:hover {
   border-bottom: 4px solid #489AE3;
   color: black;
} 

/* for image overlay */
.image-container {
   position: fixed;
   width: 100%;
   height: 100%; 
   top: 0;
   background-color: rgba(255, 255, 255, 0.8);
   z-index: 1;
   cursor: pointer;
}

.image {
   position: absolute;
   z-index: 1;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}
